.buytickets .head{
  background-color:rgb(97, 94, 94);
  padding: 20px;
}
.buytickets{
  background-color: rgb(228, 228, 228);
  min-height: 100vh;
  width: 100%;
}
.buytickets .s1{
  background-color: white;
}
.buytickets .s1 .head h1{
  color: white;
  font-size: 35px;
  font-weight: 600;
}
.buytickets .s1 .head h4{
  color: rgb(19, 18, 18);
  font-size: 16px;
  font-weight: 600; 
  margin-top: 10px; 
}

.buytickets .s1 .head h5{
  color: rgb(214, 204, 204);
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  border: 1px solid gray;
  padding: 5px 20px;
  border-radius: 25px;
  width: fit-content;
}

.buytickets .tickets{
  width: 80%;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.buytickets .tickets h2{
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.buytickets .tickets .main{
  
  text-align: center;
}
.buytickets .tickets input{
  margin-top: 20px;
  height: 30px;
  width: 230px;
  text-align: center;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 25px;
}
.buytickets .tickets .showTime{
  
  text-align: center;
}
.buytickets .tickets .email{
  text-align: center;
}
.buytickets .tickets .price{
  text-align: center;
}
.buytickets .seats label {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  align-items: center;
  margin-left: 30px;
}
.buytickets .seats h3 {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.buytickets .seats input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.buytickets .seats .seat-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.buytickets .seats label {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

.buytickets .seats label.booked {
  background-color: #ccc;
  cursor: not-allowed;
}

.buytickets .tickets .price button{
  margin-top: 20px;
  height: 30px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 25px;
  background-color:  rgb(252, 110, 28);
  color: #fff;
  cursor: pointer;
}
.buytickets .seats label.selected {
  background-color: green;
  color: white; /* Text color for better visibility */
}
