.App{
    font-family: sans-serif;
    text-align: center;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0,0.5);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title h1{
    font-size: 20px;
    margin-bottom: 100px;
}
.rating{
    margin-bottom: 20px;
}
textarea{
    width: 100%;
    border-radius: 6px;
}
button{
    background: rgb(252, 110, 28);
    color: #fff;
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
    padding: 10px 0;
    border:none;
    font-weight: bolder;
}